<footer class="footer section">
    <div class="container">
        <!-- Row for Two Columns -->
        <div class="row justify-content-center">
            <!-- Left Column -->
            <div class="col-lg-6 text-center">
                <h2 class="text-white mb-3">{{ .Site.Title | markdownify }}</h2>
                <p class="text-white-50">{{ .Site.Params.footer_content | markdownify }}</p>

                <!-- Subscription Form -->
                {{ if .Site.Params.subscription.enable }}
                {{ with .Site.Params.subscription }}
                <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="sub-form mt-4 mb-3">
                    <input type="text" class="form-control" placeholder="Put your email address" id="newsletter" name="newsletter">
                    <button type="submit" name="subscribe" class="btn btn-secondary btn-rounded mt-3">{{ i18n "subscribe" }}</button>
                </form>
                <p class="mt-3 text-white-50">{{ i18n "not_spam" }}</p>
                {{ end }}
                {{ end }}
                <!-- Social Icons -->
                <ul class="list-inline footer-socails">
                    {{ range .Site.Params.social }}
                    <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
                <div class="text-center">
                    <img src="https://api.thegreenwebfoundation.org/greencheckimage/www.eco-compute.io?    nocache=true" alt="This website is hosted Green - checked by thegreenwebfoundation.org" style="width: 30%">
                </div>

            </div>

            <!-- Right Column -->
        </div>

        <!-- Row for Copyright -->
        <div class="row">
            <div class="col-lg-12 text-center mt-5">
                <p class="copy border-top pt-4 text-white-50 mb-0">{{ .Site.Params.copyright | markdownify }}</p>
            </div>
        </div>
    </div>
</footer>


<!-- search index -->
{{ if .Site.Params.search }}
<script>
  var indexURL = {{"index.json" | absURL}}
</script>
{{ end }}


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

